@media (max-width: 1024px) {
  .headerSection header .container .navSection {
    display: none;
  }
  .headerSection .container {
    max-width: 700px;
  }
  .ctaSection {
    display: none;
  }
  .headerSection header .menuToggle {
    display: block;
  }
  
.rltv .stg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  max-width: none;
  min-width: none;
  height: auto;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;

}
}
@media (max-width: 600px) {
  .headerSection .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .headerSection .container {
    max-width: 300px;
    //background: red;
  }
  .ctaSection {
    display: none;
  }
  .headerSection header .container .navSection {
    display: none;
  }
  .btn {
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.25rem;
  }
  .headerSection header .container .logoSection {
    width: auto;
    height: 40px;
  }
  .headerSection header .menuToggle button .bar {
    width: 25px;
    height: 2px;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
  }
}
