@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --headFont: "Rubik", sans-serif;
    --otherCont: "Intel One Mono", monospace;
}

// Basic typography styles
body {
    font-family: var(--otherCont);
    font-size: 1rem;
    line-height: 1.6;
    color: #222;
    background: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headFont);
    font-weight: 700;
    margin-bottom: 0.5em;
    color: #111;
}

p {
    margin-bottom: 1em;
}

a {
    color: #05be33;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}